body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.grain {
  pointer-events: none;
  z-index: 3000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}
.maincontainer {
  margin-top: 50px;
  border: 2px solid gray;
  width: 600px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

h2 {
  margin: 0;
  line-height: 14px;
}
.namecontainer {
  grid-row-start: 3;
  grid-row-end: 9;
  grid-column: 1/9;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(10, 1fr);
}
.firstnames {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  z-index: 20;
  font-size: 5px;
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
}

.lastnames {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  z-index: 20;
  font-size: 12px;
  font-weight: lighter;
}

.textcontainer {
  grid-row-start: 7;
  grid-row-end: 11;
  grid-column: 1/9;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(10, 1fr);
}
.title {
  z-index: 20;
  font-size: 7px;
  text-align: right;
  padding: 10px;
  grid-row: 4/11;
}
.text {
  grid-row: 1/11;
  z-index: 20;
  font-size: 7px;
  text-align: left;
  width: 90px;
  grid-column: 2;
}

.box1 {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column: 1/9;
  margin: 1px;
  animation: move1 3s infinite alternate;
}

.box2 {
  position: relative;
  grid-row-start: 4;
  grid-row-end: 9;
  grid-column: 9/14;
  margin: 1px;
  top: 0px;
  animation: move2 3s infinite alternate;
}
.box3 {
  position: relative;

  grid-row-start: 5;
  grid-row-end: 11;
  grid-column: 14/18;
  margin: 1px;
  top: 0px;
  animation: move3 3s infinite alternate;
}
.box4 {
  position: relative;

  grid-row-start: 3;
  grid-row-end: 8;
  grid-column: 18/20;
  margin: 1px;
  top: 0px;

  animation: move4 3s infinite alternate;
}
.box5 {
  position: relative;

  grid-row-start: 1;
  grid-row-end: 5;
  grid-column: 20/21;
  margin: 1px;
  top: 0px;

  animation: move5 3s infinite alternate;
}

.b {
  background-color: rgb(255, 153, 0);
}

@-webkit-keyframes move1 {
  from {
    top: 0px;
  }
  50% {
    top: 0px;

    box-shadow: none;
  }

  100% {
    top: 150px;

    box-shadow: 15px 15px 22px black;
    color: black;
  }
}
@-webkit-keyframes move2 {
  from {
    top: 0px;
  }
  50% {
    top: 0px;

    box-shadow: none;
  }

  100% {
    top: 150px;

    box-shadow: 15px 15px 22px black;
    color: black;
  }
}

@-webkit-keyframes move3 {
  from {
    top: 0px;
  }

  50% {
    top: 0px;

    box-shadow: none;
  }

  100% {
    top: -200px;

    box-shadow: 15px 15px 22px black;
    color: black;
  }
}

@-webkit-keyframes move4 {
  from {
    top: 0px;
  }

  50% {
    top: 0px;

    box-shadow: none;
  }

  100% {
    top: 200px;

    box-shadow: 15px 15px 22px black;
    color: black;
  }
}

@-webkit-keyframes move5 {
  from {
    top: 0px;
  }

  50% {
    top: 0px;

    box-shadow: none;
  }

  100% {
    top: 400px;

    box-shadow: 15px 15px 22px black;
    color: black;
  }
}
